@import "tailwindcss";

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/MonaSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/MonaSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/MonaSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/MonaSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Publico Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/PublicoText-Roman-Web.woff2") format("woff2");
}

@theme {
  --font-sans: "Mona Sans", "Avenir Next", "Avenir", "Futura", "Century Gothic", "sans-serif"; 
  --font-serif: "Publico Text", "Georgia", "serif"; 
}
